
<h1> Lista de ingredientes</h1>
<ul>
  <div *ngFor="let ingredient of ingredients">
      <li>
        <h3>{{ ingredient.name }}&nbsp;</h3>
        <h4>{{ingredient.description}}</h4>
      </li>
  </div>
</ul>


<h1>¿Quieres añadir otro ingrediente?</h1>
<form (ngSubmit)="addNewIngredient(myForm)" #myForm="ngForm">

  <label> Name </label>
  <input type="text" [(ngModel)]="name" name="name"/>

  <label> Description</label>
  <input type="text" [(ngModel)]="description" name="description"/>

  <label> image </label>
  <input type="url" [(ngModel)]="image" name="image"/>

  <button type="submit"> Add New Ingredient </button>

</form>
