<h3>
  This is the page of {{dish.name}} recipe
</h3>
<div class="recipe">
  <h2>{{dish.name}}</h2>
  <img src="{{dish.image}}"/>
  <h4>{{dish.description}}</h4>
  <ul>
    <h4>A list of ingredients in this recipe</h4>
    <div *ngFor="let ingredient of dish.ingredients">
        <li>
          <p><b>Name: </b> {{ingredient.name}}</p>
          <p><b>Quantity: </b>{{ingredient.quantity}}</p>
        </li>

    </div>
  </ul>

  <h2>List of Posibles Ingredients</h2>
  <ul>
    <div *ngFor="let ingredient of listIngredients">
      <li>
        <img src="{{ingredient.image}}" alt="" width="50">
        {{ingredient.name}}
        <form (ngSubmit)="addToRecipe(myForm)" #myForm="ngForm">
           <label for="number">Number of this ingredient</label>
           <input type="number" name="quantity" [(ngModel)]="ingredient.quantity">
           <input type="hidden" name="ingredientId" [(ngModel)]="ingredient._id">
           <button type="submit"> add ingredient! </button>
        </form>

      </li>
    </div>
  </ul>
</div>
<a routerLink="/"> Back Home </a>
